PyQt5==5.15.10
PyQtWebEngine==5.15.6
skyfield==1.48
requests==2.31.0
spacetrack==1.0.0
pyserial==3.5
python-dotenv==1.0.1
keyring==24.3.1
psutil==5.9.8
pyqtgraph==0.13.7
urllib3<2.0
smbus2; sys_platform == 'linux'
